.config/
*.bak
*.1
Makefile
bin/manicheck
bin/manilist
bin/packinit
config.sh
install
jmake/Index
jmake/bindex
jmake/fixcpp
jmake/jmake
jmake/jmkmf
kit/kitpost
kit/kitsend
kit/makedist
kit/manifake
mcon/Glossary
mcon/makegloss
mcon/mconfig
mcon/metaconfig
mcon/metalint
mcon/metaxref
mcon/mlint
mcon/mxref
pat/pat
pat/patbase
pat/patcil
pat/patclean
pat/patcol
pat/patdiff
pat/patftp
pat/patindex
pat/patlog
pat/patmake
pat/patname
pat/patnotify
pat/patpost
pat/patsend
pat/patsnap
revision.h
